{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<h2>Experiments with text!!! (Only for registered users ofc, cause its top secret, you know, and stuff)</h2>
<p style="font-size: 1.5em;"><em>We can do italics</em></p>
<p style="font-size: 1.5em;"><strong>Or bold</strong></p>
<p style="font-size: 1.5em;"><em><strong>or both</strong></em></p>
<p style="font-size: 1.5em;"><span style="text-decoration: underline;">underline</span></p>
<p style="font-size: 1.5em; text-align: center;"><u>Text in the center</u></p>
<p style="font-size: 1.5em; text-align: right;"><u>Text in right side of the page</u></p>
<p style="font-size: 1.5em;">An <strong>experiment</strong> with the <strong>table</strong>
    But before that we insert a little gif :)
    <br>
    <style>
        .img-container {
        text-align: center;
        }
    </style>
    <div class="img-container">
        <img src="https://media.giphy.com/media/145s3kBsTZGliM/giphy.gif" alt="House M.D." />
    </div>
    </p>
    <table class="editorDemoTable" style="border:1px solid black; margin-left: auto; margin-right: auto">
        <tbody>
        <tr>
            <td style="width: 90.7375px; text-align: center;"><strong>Name</strong></td>
            <td style="width: 97.9375px; text-align: center;"><strong>City</strong></td>
            <td style="width: 75.45px; text-align: center;"><strong>Age</strong></td>
        </tr>
        <tr>
            <td style="width: 90.7375px; text-align: center;">John</td>
            <td style="width: 97.9375px; text-align: center;">Chicago</td>
            <td style="width: 75.45px; text-align: center;">23</td>
        </tr>
        <tr>
            <td style="width: 90.7375px; text-align: center;">Lucy</td>
            <td style="width: 97.9375px; text-align: center;">Wisconsin</td>
            <td style="width: 75.45px; text-align: center;">19</td>
        </tr>
        <tr>
            <td style="width: 90.7375px; text-align: center;">Amanda</td>
            <td style="width: 97.9375px; text-align: center;">Madison</td>
            <td style="width: 75.45px; text-align: center;">22</td>
        </tr>
        </tbody>
    </table>
<p style="line-height:15em;">Text shown below with extra spacing</p>
{% endblock content %}